{
  "root": true,
  "extends": [
    "@akashic/eslint-config",
    "prettier"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "radix": 0,
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/member-ordering": 1
  },
  "ignorePatterns": [
    "/lib/**/*",
    "/test/**/*",
    "**/*.js",
    "**/*.config.ts"
  ]
}